<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('title').invalid && form.get('title').touched}"
    >
      <label for="title">The post title:</label>
      <input id="title" type="text" formControlName="title">

      <div
        class="validation"
        *ngIf="form.get('title').invalid && form.get('title').touched"
      >
        <small *ngIf="form.get('title').errors.required">
          Enter a title of the new post
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>The post content:</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Update</button>
  </form>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
